        <question-box>
            {% include 'core/partials/photo.html' with photo_url=question.user.profile.avatar.url profile_url=question.user.url photo_class=photo_class %}
          <question>
              <a href="{% url 'questions:question' question.id %}">{{ question.title }}</a>
          </question>
          <creation-time> {{ question.creation_time }} </creation-time>
          <description>{{ question.description }}</description>
          <vote>
            <a href="#" class="vote-arrow">▲</a>
            <div class="vote-count"> {{ question.vote_count }} </div>
            <a href="#" class="vote-arrow">▼</a>
          </vote>
          <question-tags>
            {% for tag in question.tags.all %}
              <a class="tag" href="{% url 'questions:tag' tag.name %}">#{{ tag.name }}</a>
            {% endfor %}
          </question-tags>
          <answers> Ответов: {{ question.answers_count }} </answers>
        </question-box>