{% extends 'questions/layout/base.html' %}

{% block title %}
    Войти
{% endblock %}

{% block content %}
      <forms-box class="login">
        <div class="title">Вход</div>
        <div class="description-form">Логин</div>
        <form class="text-form">
          <input id="login-form" class="input-form" type="text" placeholder="Введите ваш логин">
        </form>
        <div class="description-form">Пароль</div>
        <form class="text-form">
          <input id="password-form" type="password" required minlength="8" maxlength="30" class="input-form" placeholder="Введите ваш пароль">
        </form>
        <button class="submit-button" type="button">Войти</button>
        <a class="submit-button" href="{% url 'questions:signup' %}">Регистрация</a>
      </forms-box>
{% endblock %}