{% extends 'questions/layout/base.html' %}
{% load static %}

{% block title %}
    Личный кабинет
{% endblock %}

{% block content %}
      <forms-box class="signup">
        <div class="title">Личный кабинет</div>
        <div class="description-form">Логин</div>
        <form class="text-form">
          <input id="login-form" class="input-form" maxlength="30" type="text" placeholder="Введите ваш логин">
        </form>
        <div class="description-form">Почта</div>
        <form class="text-form">
          <input id="mail-form" type="mail" class="input-form" placeholder="Введите вашу почту">
        </form>
        <div class="description-form">Никнейм</div>
        <form class="text-form">
          <input id="nickname-form" class="input-form" maxlength="30" type="text" placeholder="Введите ваш никнейм">
        </form>
        <div class="description-form">Фотография профиля</div>
        {% static 'questions/img/user_placeholder.webp' as placeholder_url %}
        {% include 'questions/partials/photo.html' with photo_url=placeholder_url photo_class='photo-large' %}
        <form class="file-form">
          <input id="photo-form" type="file" class="input-file" accept="image/*">
        </form>
        <button class="submit-button" type="button">Сохранить</button>
      </forms-box>
{% endblock %}