{% extends 'core/layout/base.html' %}

{% block title %}
    {{ question.title }}
{% endblock %}

{% block content %}
        {% with photo_class='photo-large' %}
          {% include 'questions/partials/question-box.html' %}
        {% endwith %}

        {% include 'questions/partials/answer-input.html' %}

        {% for answer in page_obj %}
            {% with photo_class='photo-small' %}
              {% include 'questions/partials/answer-box.html' %}
            {% endwith %}
            {% empty %}
            <div>
                Пока нет ни одного ответа к этому вопросу.
            </div>
        {% endfor %}

        {% if page_obj.paginator.num_pages > 1 %}
            {% include 'questions/partials/pagination.html' %}
        {% endif %}
{% endblock %}