header {
    grid-area: header;

    position: sticky;
    top: 5px; 

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    padding: 10px 25px 10px 25px;

    background-color: #2189f9;

    color: white;

    border-color: white;
    border-style: solid;
    border-width: 4px;
    border-radius: 15px;
}

.search-input,
.search-button {
    border: none;
    outline: none;
    box-shadow: none;
}

.search-input {
    flex: 1;
}

.search-button {
    color: #2189f9;
    background-color: white;
    padding: 1px 0px 1px 12px;
}

.user-block {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
}

.user-block > span {
    color: white;
}

.user-block > img {
    border-radius: 50%;
}