main {
    grid-area: main;

    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;

    padding: 10px;
    margin-left: 10px;

    background-color: #dee0ec;

    border-color: white;
    border-style: solid;
    border-width: 4px;
    border-radius: 15px;
}

question-box {
    display: grid;
    grid-template-areas:
        "photo question"
        "description description"
        "vote question-tags"
        "pagination pagination";
    grid-template-columns: 55px 1fr;
    gap: 5px;
    align-items: center;
    justify-items: start;

    margin: 0px 10px 0px 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid white;
}

photo {
    grid-area: photo;
}

photo img {
    border-radius: 50%;
}

question {
    grid-area: question;

    color:#000000ba;
    font-size: 24px;
    font-weight: bold;
}

question:hover {
    color:black;
    text-shadow: 0px 0px 3px #2189f9;
}

description {
    grid-area: description;

    color:#000000ba;
    font-size: 16px;
}

vote {
    grid-area: vote;

    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 5px;

    color:#000000ba;
}

.vote-arrow:hover{
    color:black;
    text-shadow: 0px 0px 3px #2189f9;
}

question-tags {
    grid-area: question-tags;

    color:#000000ba;

    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 5px;
}

pagination {
    grid-area: pagination;

    color:#000000ba;
    font-size: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

current-pagination {
    color:#2189f9;
}

pagination > a {
    color:#000000ba;
    text-decoration: none;
}

pagination > a:hover{
    color:black;
    text-shadow: 0px 0px 3px #2189f9;
}
