{% extends 'core/layout/base.html' %}

{% block title %}
    {% block page_title %} Вопросы {% endblock %}
{% endblock %}

{% block content %}
    <div class="title">
        {% block page_header %}Вопросы{% endblock %}
    
        {% block page_link %}
            <a href="{% url 'questions:index' %}">Вопросы</a>
        {% endblock %}
    </div>
      {% for question in page_obj %}
        {% with photo_class='photo-small' %}
          {% include 'questions/partials/question-box.html' %}
        {% endwith %}
      {% empty %}
        <div>
            {% block empty_text %}
                Пока нет ни одного вопроса.
            {% endblock %}
        </div>
    {% endfor %}

    {% if page_obj.paginator.num_pages > 1 %}
        {% include 'questions/partials/pagination.html' %}
    {% endif %}
{% endblock %}